body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
   margin: 0;
}

nav {
   background-color: black;
   font-size:0; /*removes the small space between each link. Must define font-size in <a>*/

}

ul {
   padding: 18px 0px;
}

li {
   float: left;
}

a {
   text-decoration: none;
   color: #cccccc;
   font-size: 18px;
   padding: 18px;
}

li a:hover {
   color: #ffffff;
   background-color: #ff7401;
}

h1 {
  padding-left: 18px;
}