/*Fonts*/
/*Brand Colors*/
/*Other Colors*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%; }

p {
  padding: 20px 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

.btn {
  font-family: "Open Sans", sans-serif;
  color: #eeeeee;
  font-weight: 600;
  font-size: .8rem;
  letter-spacing: .05rem;
  padding: 20px 40px;
  pointer: cursor; }
  .btn:hover {
    box-shadow: 0 16px 32px -6px rgba(0, 0, 0, 0.2); }
  .btn:active {
    box-shadow: 0 16px 32px -6px rgba(0, 0, 0, 0.2); }

.wrapper {
  position: relative; }

.header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding: 40px; }

.logo {
  display: inline-block;
  width: 55px;
  height: 55px; }
  .logo a {
    background-image: url(../../img/jm_logo.svg);
    background-size: 55px 55px;
    width: 55px;
    height: 55px;
    float: left;
    cursor: pointer; }

footer {
  font-family: "Open Sans", sans-serif;
  font-size: .7rem;
  color: gray;
  position: absolute;
  bottom: 10px;
  right: 10px; }

.menu-icon {
  width: 55px;
  height: 55px;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  .menu-icon .icon-bar {
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    right: 12px;
    background: #333030;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  .menu-icon .icon-bar:nth-child(1) {
    top: 15px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center; }
  .menu-icon .icon-bar:nth-child(2) {
    top: 25px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center; }
  .menu-icon .icon-bar:nth-child(3) {
    top: 35px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center; }

.menu-icon.open .icon-bar {
  background-color: #ce5252; }
.menu-icon.open .icon-bar:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.menu-icon.open .icon-bar:nth-child(2) {
  width: 0%;
  opacity: 0; }
.menu-icon.open .icon-bar:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

nav .dropdown {
  display: none;
  background-color: #333030;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding: 95px 0 0 0;
  cursor: pointer; }
nav li a {
  display: block;
  text-align: center;
  color: #eeeeee;
  text-decoration: none;
  padding: 40px 0; }
nav li:hover {
  font-weight: 600;
  color: white;
  background: #262424; }

#sidebar-container {
  background-color: #eeeeee;
  padding: 40px; }

.sidebar-content {
  margin-top: 235px;
  width: 70vw; }
  .sidebar-content .sidebar-heading {
    font-weight: 800;
    font-size: 2.5rem;
    color: #333030; }

.btn {
  background-color: #ce5252; }
  .btn:hover {
    background-color: #b93434; }
  .btn:active {
    background-color: #b93434; }

#work {
  background-color: #ce5252;
  height: 364px; }

#sketchbook {
  background-color: #5A5A5A;
  height: 364px; }

#contact {
  background-color: #33A289;
  height: 364px; }

@media (min-width: 768px) {
  nav .dropdown {
    width: 100vw;
    z-index: 99; }

  #sidebar-container {
    position: fixed;
    height: 100%;
    width: 50%; }

  #content-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: static;
    overflow: visible;
    width: 50%;
    max-width: 1200px;
    margin-left: 50%; }

  .sidebar-content {
    margin-top: 200px;
    width: 70%; }

  #work {
    height: 400px;
    width: 100%; }

  #sketchbook {
    width: 100%; }

  #contact {
    width: 100%; } }
@media (min-width: 1024px) {
  .menu-icon {
    display: none; }

  nav .dropdown {
    display: block;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    height: inherit;
    width: inherit;
    padding: 50px 0px 40px 40px;
    cursor: pointer;
    bottom: 0px; }
  nav li {
    float: left; }
    nav li a {
      display: block;
      text-align: center;
      color: #333030;
      text-decoration: none;
      padding: 0px 10px 0px 0px; }
    nav li:hover {
      font-weight: 600;
      color: #333030;
      background: transparent; }

  #work {
    height: 50vh;
    width: 100%; }

  #sketchbook {
    height: 50vh;
    width: 50%; }

  #contact {
    height: 50vh;
    width: 50%; } }

/*# sourceMappingURL=main.css.map */
