/*Fonts*/
/*Brand Colors*/
body {
  font-family: "Lora", serif;
  font-size: 100%; }

p {
  padding: 20px 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

.btn {
  font-family: "Open Sans", sans-serif;
  color: #eeeeee;
  font-weight: 600;
  font-size: .8rem;
  letter-spacing: .05rem;
  padding: 20px 40px;
  pointer: cursor; }
  .btn:hover {
    box-shadow: 0 16px 32px -6px rgba(0, 0, 0, 0.2); }
  .btn:active {
    box-shadow: 0 16px 32px -6px rgba(0, 0, 0, 0.2); }

.wrapper {
  position: relative; }

.header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding: 40px; }

.logo {
  background-image: url(../../img/jm_logo.svg);
  background-size: 55px 55px;
  width: 55px;
  height: 55px;
  float: left;
  cursor: pointer; }

.menu-icon {
  display: inline-block;
  padding: 15px;
  float: right;
  cursor: pointer; }
  .menu-icon .icon-bar {
    background-color: #333030;
    width: 30px;
    height: 5px;
    margin: 4px 0; }

nav.dropdown {
  font-family: "Open Sans", sans-serif;
  display: none;
  list-style: none;
  padding-top: 120px;
  text-align: center;
  cursor: pointer;
  height: 100vh;
  position: fixed;
  background-color: gray;
  width: 100vw; }
  nav.dropdown li {
    list-style: none;
    padding: 40px;
    text-align: center; }
  nav.dropdown a {
    text-decoration: none;
    text-align: center; }

#sidebar-container {
  background-color: #eeeeee;
  padding: 40px; }

.sidebar-content {
  margin-top: 235px;
  width: 70vw; }
  .sidebar-content .sidebar-heading {
    font-weight: 800;
    font-size: 2.5rem;
    color: #333030; }

.btn {
  background-color: #ce5252; }
  .btn:hover {
    background-color: #b93434; }
  .btn:active {
    background-color: #b93434; }

#work {
  background-color: #CE5252;
  height: 364px; }

#sketchbook {
  background-color: #5A5A5A;
  height: 364px; }

#contact {
  background-color: #33A289;
  height: 364px; }

@media (min-width: 768px) {
  nav.dropdown {
    width: 100vw;
    z-index: 99; }

  #sidebar-container {
    position: fixed;
    height: 100%;
    width: 50%; }

  #content-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: static;
    overflow: visible;
    width: 50%;
    max-width: 1200px;
    margin-left: 50%; }

  .sidebar-content {
    margin-top: 200px;
    width: 70%; }

  #work {
    height: 400px;
    width: 100%; }

  #sketchbook {
    width: 100%; }

  #contact {
    width: 100%; } }
@media (min-width: 1024px) {
  .menu-icon {
    display: none; }

  nav.dropdown {
    display: block;
    position: absolute;
    bottom: 20px;
    padding: 0px;
    text-align: inherit;
    height: inherit;
    width: inherit;
    background-color: transparent; }
    nav.dropdown li {
      list-style: none;
      padding-right: 0px;
      float: left; }
    nav.dropdown a {
      text-decoration: none;
      color: black;
      float: left; }

  #work {
    height: 60vh;
    width: 100%; }

  #sketchbook {
    height: 40vh;
    width: 50%; }

  #contact {
    height: 40vh;
    width: 50%; } }

/*# sourceMappingURL=main.css.map */
