/*Fonts*/
$header-font: 'Open Sans', sans-serif;
$body-font: 'Lora', serif;

//Font Weights
$regular: 400;
$bold: 600;
$extra-bold: 800;

/*Brand Colors*/
$primary: rgba(206, 82, 82, 1);
$grayscale-light: rgba(238, 238, 238, 1); //light light gray
$grayscale-dark: rgba(51, 48, 48, 1); //dark gray