body{
   margin:0 auto;
   font-family: sans-serif;
}

a {
   text-decoration: none;
}

/*Header Section*/
.header{
   background-image: url(../images/skydiving_hero.jpg);
   background-size: cover;
   height: 500px;
}

.logo{
   padding: 10px;
   width: 50px;
   float: left;
}

header{
   text-align: center;
   color: #ffffff;
   padding-top: 100px;
   font-size: 6em;
   text-shadow: 3px 3px rgba(0,0,0,.2);
}

   /*////NavBar Start////*/
nav{
   clear: both;
}

ul{
   list-style-type: none;
}

li{
   float: right;
}

li a{
   display: block;
   text-decoration: none;
   padding: 10px;
   text-align: center;
   color: #ffffff;
   font-size: .9em;
   text-shadow: 1px 1px rgba(0,0,0,.3);

}

li a:hover{
   color: #BA0837;
   background-color: rgba(255,255,255,.2);
}
   /*////NavBar End////*/



/*Resources Section*/
.resources{
   margin: 50px;
   padding-bottom: 200px;
}

.item{
   float: left;
}

.thumbnail{
   max-width: 300px;
   height: 200px;
   padding: 0px 50px 0px 0px;
}

.subhead{
   width: 250px;
   color:#000000;
}

.description{
   width: 250px;
   padding: 0px 50px 50px 0px;
   margin: 0px;
}


/*Videos Section*/
.videos{
   margin: 50px;
   clear:both;
}


/*Footer Section*/
.footer{
   height: 100px;
   clear: both;
   background: linear-gradient(#ffffff, #1D1D1D); 
}

.copyright{
   margin: 0px;
   padding-top:75px;
   font-size: .8em;
   text-align: center;
   color: #ffffff;
}