body {
   margin: 0;
   font-family: sans-serif;
}

p {
   width: 1000px;
   margin: 0 auto;
   padding-bottom: 20px;
}

#banner-top {
   background-color: gray;
   height: 150px;
   margin-bottom: 20px;
}

.container {
   padding: 20px 100px;
   text-align: left;
}

.column {
   border: 1px solid gray;
   background-color: lightgray;
   margin: ;
}

#column1 {
   height: 100px;
   width: 1000px;
   margin: 0 auto;
}

#center-blocks {
   text-align: center;
   padding: 20px 0;
}

#column2 {
   display: inline-block;
   height: 250px;
   width: 588px;
   margin-right: 19px;
}

#column3 {
   display: inline-block;
   height: 250px;
   width: 388px;
}

#column4 {
   height: 100px;
   width: 1000px;
   margin: 0 auto;
}

#banner-bottom {
   background-color: gray;
   height: 150px;
   margin-top:50px;
}