@import "partials/_variables.scss";
@import "partials/_resets";
@import "partials/_buttons.scss";

//** Global **//
.wrapper {
  position: relative;
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding: 40px;
  // background: linear-gradient(to bottom, $grayscale-light 70%, rgba(0, 0, 0, 0));
}

// .change-bg { //Remove bg gradient when menu is open - see JS
//   background: rgba(0, 0, 0, 0); 
// }

.logo {
  display: inline-block;
  width: 55px;
  height: 55px;
  
  a {
    background-image: url(../../../img/jm_logo.svg);
    background-size: 55px 55px;
    width: 55px;
    height: 55px;
    float: left;
    cursor: pointer;
  }
}

footer {
  font-family: $body-font;
  font-size: .8rem;
  color: $grayscale-light;
  // position: absolute;
  // bottom: 10px;
  // right: 10px;
  background-color: $grayscale-dark;
  padding: 20px 40px; 
  text-align: center;
  width: 100%;


}

.menu-icon {
  width: 55px;
  height: 55px;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  .icon-bar {
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    right: 12px;
    background: $grayscale-dark;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

    .icon-bar:nth-child(1) {
    top: 15px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
  }

  .icon-bar:nth-child(2) {
    top: 25px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
  }

  .icon-bar:nth-child(3) {
    top: 35px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
  }
}

.menu-icon.open {
  .icon-bar {
    background-color: $primary;
  }

  .icon-bar:nth-child(1) {
    top: 14px; //Move bar down by 1px to align "x" icon better
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .icon-bar:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .icon-bar:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}


//** Nav **//


  nav .dropdown {
    display: none;
    background-color: $grayscale-dark;
    font-family: $body-font;
    list-style: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding: 70px 0 0 0;
    cursor: pointer;
    
    li, a {
      display: block;
      text-decoration: none;
      padding: 25px 0;
      text-align: center;
      

      // &:visited {
      //   color: $grayscale-light;
      // }

      // &:hover {
      //   font-weight: $bold;
      //   color: white;
      //   background: darken($grayscale-dark, 5%);   
      // }

      // &:active {
      //   color: $grayscale-light;
      // } 
    }  
  }

//Sidebar Container
#sidebar-container {
  background-color: $grayscale-light;
  // padding: 40px;
}

.sidebar-content {
  padding: 300px 0 40px 40px;
  width: 70vw;

  .sidebar-heading {
    // font-family: $header-font;
    font-weight: $extra-bold;
    font-size: 2.5rem;
    color: $grayscale-dark;
  }
}

.btn {
  @include btn-primary;
}


//** Work - Content Container **//
.work {
  padding: 40px;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  width: 100%;

  .project {
    background-color: $brand-1;
    height: 350px;
    width: 100%;
  }
  .project:nth-child(2) {
    background-color: $brand-2; 
  }
  .project:nth-child(3) {
    background-color: $primary; 
  }
}



//****** Media Queries *******//

//Smaller Tablet
@media (min-width: 480px) {
  
}

//Tablet
@media (min-width: 768px) {

  nav .dropdown {
    width: 100vw;
    z-index: 99;
  }

  #sidebar-container {
    position: fixed;
    height: 100%;
    width: 35%;
  }

  #content-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: static;
    overflow: visible;
    width: 65%;
    max-width: 1200px;
    margin-left: 35%
  }

  .sidebar-content {
    width: 70%;
  }
}

//Desktop
@media (min-width: 1024px) {
  .side-container {
    display: flex;
    flex-wrap: wrap;
  }

  .header {
    position: fixed;
    width: 140px;
    z-index: 100;
    padding: 40px;
    order: 1;
  }

  .menu-icon {
    display: none;
  }


    nav .dropdown {
      display: block;
      order: 3;
      font-size: .8rem;
      padding: 40px;
      left: 40px;
      bottom: 0px;
      background: transparent;
      color: $grayscale-dark;

      /* background-color: #333030; */
      font-family: "Open Sans", sans-serif;
      /* display: none; */
      list-style: none;
      // position: relative;
      padding: 0;
      height: inherit;
      width: inherit;
      /* padding-top: 120px; */
      cursor: pointer;

    li, a {
      display: block;
      text-decoration: none;
      float: left;
      padding-right: 10px;
      color: $grayscale-dark;

      // &:visited {
      //   font-weight: $bold;
      //   color: $grayscale-dark;
      // }

      // &:hover {
      //   font-weight: $bold;
      //   color: $grayscale-dark;
      //   background: transparent;  
      // }

      // &:active {
      //   color: $grayscale-dark;
      // } 
    }
  }

  .sidebar-content {
    order: 2;
    margin: 0;
    padding: 300px 0 40px 40px;
  }

  .project-links {
    .project {
      background-color: $brand-1;
      height: 50vh;
      width: 50%;
    }
  }
}
