// Got back and adjust grid alignments

//Questions:
//Sass sublime autoprefixer?
//Margins and padding in chrome and safari

@import "partials/_variables.scss";
@import "partials/_resets";
@import "partials/_buttons.scss";
// @import "partials/_base.scss";

.wrapper {
  position: relative;
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding: 40px;
}

.logo {
  background-image: url(../../img/jm_logo.svg);
  background-size: 55px 55px;
  width: 55px;
  height: 55px;
  float: left;
  cursor: pointer;
}

// .menu-icon {
//   display: inline-block;
//   padding: 15px;
//   float: right;
//   cursor: pointer;

//   .icon-bar {
//     background-color: $grayscale-dark;
//     width: 30px;
//     height: 5px;
//     margin: 4px 0;
//   }
// }

//** Menu Icon **//
.menu-icon {
  width: 55px;
  height: 55px;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  .icon-bar {
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    right: 12px;
    background: $grayscale-dark;
    opacity: 1;
    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

    .icon-bar:nth-child(1) {
    top: 14px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
  }

  .icon-bar:nth-child(2) {
    top: 25px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
  }

  .icon-bar:nth-child(3) {
    top: 35px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
  }
}

.menu-icon.open {
  .icon-bar:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .icon-bar:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .icon-bar:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

nav.dropdown {
  font-family: $nav-font;
  display: none;
  list-style: none;
  padding-top: 120px;
  text-align: center;
  cursor: pointer;
  height: 100vh;
  position: fixed;
  background-color: gray;
  width: 100vw;

  li {
    list-style: none;
    padding: 40px;
    text-align: center;
  }  

  a{
    text-decoration: none;
    text-align: center;    
  }
}

//Sidebar Container
#sidebar-container {
  background-color: $grayscale-light;
  padding: 40px;
}

.sidebar-content {
  margin-top: 235px;
  width: 70vw;

  .sidebar-heading {
    // font-family: $header-font;
    font-weight: $extra-bold;
    font-size: 2.5rem;
    color: $grayscale-dark;
  }
}

.btn {
  @include btn-primary;
}



//Content Container
#work {
  background-color: #CE5252; 
  height: 364px;
}

#sketchbook {
  background-color: #5A5A5A; 
  height: 364px;
}

#contact {
  background-color: #33A289; 
  height: 364px;
}



//****** Media Queries *******//

//Smaller Tablet
@media (min-width: 480px) {
  
}

//Tablet
@media (min-width: 768px) {

  nav.dropdown {
    width: 100vw;
    z-index: 99;
  }

  #sidebar-container {
    position: fixed;
    height: 100%;
    width: 50%;
  }

  #content-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: static;
    overflow: visible;
    width: 50%;
    max-width: 1200px;
    margin-left: 50%
  }

  .sidebar-content {
    margin-top: 200px;
    width: 70%;
  }

  //Content Section
  #work {
    height: 400px;
    width: 100%;
  }

  #sketchbook {
    width: 100%;
  }

  #contact {
    width: 100%;
  }
}

//Desktop
@media (min-width: 1024px) {
  .menu-icon {
    display: none;
  }

  nav.dropdown {
    display: block;
    position: absolute;
    bottom: 20px;
    padding: 0px;
    text-align: inherit;
    height: inherit;
    width: inherit;
    background-color: transparent;

    li {
      list-style: none;
      padding-right: 0px;
      float: left;

    }  

    a{
      text-decoration: none;
      color: black;
      float: left;
      
    }
  }

  //Content Section
  #work {
    height: 60vh;
    width: 100%;
  }

  #sketchbook {
    height: 40vh;
    width: 50%;
  }

  #contact {
    height: 40vh;
    width: 50%;
  }
}

