//Primary Button
@mixin btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 10%);
  }
  &:active {
    background-color: darken($primary, 10%);
  }
}

//Other buttons


//Global Button Style
.btn {
  font-family: $header-font;
  color: $grayscale-light;
  font-weight: $bold;
  font-size: .8rem;
  letter-spacing: .05rem;
  padding: 20px 40px;
  pointer: cursor;
  &:hover {
    box-shadow: 0 16px 32px -6px rgba(0, 0, 0, .2);
  }
  &:active {
    box-shadow: 0 16px 32px -6px rgba(0, 0, 0, .2);
  }
}
