/*Fonts*/

// $logo-font: 'Merriweather', serif;
$body-font: 'Source Sans Pro', sans-serif;
$header-font: 'Merriweather', serif;
$button-font: 'Oswald', sans-serif;


/*Brand Colors*/
$primary-color: yellow;
$secondary-color: #C6C6C6; //light-gray
$bar-color: #000000;