/*Questions:
  1. How do you organize and watch a CSS and SCSS folder?
  2. 'header' spacing???
*/

@import "partials/_variables.scss";
@import "partials/_resets";
@import "partials/_buttons.scss";
// @import "partials/_base.scss";

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -15px;
  background: $grayscale-light;
  padding: 40px;
}

.menu-icon {
  display: inline-block;
  padding: 15px;

  .icon-bar {
    background-color: $grayscale-dark;
    width: 30px;
    height: 5px;
    margin: 4px 0;
  }
}

.logo {
  background-image: url(../img/jm_logo.svg);
  background-size: 55px 55px;
  margin-left: auto;
  width: 55px;
  height: 55px;
}

.nav-items {
  display: none;

  li  a{
    text-decoration: none;
  }
}

//Sidebar Container
#sidebar-container {
  background-color: $grayscale-light;
  padding: 40px;
}

.sidebar-content {
  margin-top: 80px;
  width: 70vw;

  .sidebar-heading {
    font-family: $header-font;
    font-weight: $extra-bold;
    font-size: 2.5rem;
    color: $grayscale-dark;
  }
}

.btn {
  @include btn-primary;
}



//Content Container
#work {
  background-color: #CE5252; 
  height: 364px;
}

#sketchbook {
  background-color: #5A5A5A; 
  height: 364px;
}

#contact {
  background-color: #33A289; 
  height: 364px;
}



//****** Media Queries *******//

//Smaller Tablet
@media (min-width: 480px) {
  
}

//Tablet
@media (min-width: 768px) {
  .header { //Need to make fixed, 'margin-left: auto' not working here
    background-color: rgba(0,0,0,0);
    padding: 40px;
    position: absolute;
    z-index: 100
  }

  #content-container {
    display: flex;
    flex-wrap: wrap;
    position: static;
    overflow: visible;
    width: 50%;
    max-width: 1200px;
    margin-left: 50%
  }

  #sidebar-container {
    position: fixed;
    height: 100%;
    width: 50%;
  }

  .sidebar-content {
    margin-top: 200px;
    width: 70%;
  }

  //Content Sections
  #work {
    height: 400px;
    width: 100%;
  }

  #sketchbook {
    height: 364px;
    width: 50%;
  }

  #contact {
    height: 364px;
    width: 50%;
  }
}

//Desktop
@media (min-width: 1024px) {
  
}

